spring:
  application:
    name: user-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: ${db.schema}
  flyway:
    enabled: true
    schemas: ${db.schema}
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: ${USER_SERVICE_PORT}

management:
  tracing:
    enabled: true
    sampling:
      probability: ${MANAGEMENT_SAMPLING_PROBABILITY}
    propagation:
      produce: w3c
      consume: w3c

db:
  schema: users_schema