<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="SERVICE_NAME"
                    source="spring.application.name"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{traceId:-}] [%X{spanId:-}] ${SERVICE_NAME} %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework.orm.jpa" level="WARN"/>
    <logger name="org.apache.catalina" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>